/* Reset default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Set font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Style headings */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Style paragraphs */
p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

#classContainer {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid green;
}

form input[type="submit"] {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: darkgreen;
}

table {
  border: 1px solid #ccc;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
}

table thead {
  background-color: #f0f0f0;
}

table th,
table td {
  border: 1px solid green;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: green;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: darkgreen;
}
